body {
  background: rgb(147, 181, 232)
}

a:link, a:visited {
  background-color: rgb(168, 206, 63);
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

